/* Estilo do Formulário de Contato */
.contato-section {
  background: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contato-form .form-group {
  margin-bottom: 15px;
  text-align: center;
}

.contato-form input,
.contato-form textarea,
.contato-form select {
  width: 60%;
  padding: 15px;
  border: 1px solid #007acc;
  border-radius: 5px;
  font-size: 1em;
  transition: border 0.3s, box-shadow 0.3s;
}

.contato-form input:focus,
.contato-form textarea:focus,
.contato-form select:focus {
  border-color: #007acc;
  box-shadow: 0 0 8px rgba(0, 122, 204, 0.2);
}

.contato-form textarea {
  resize: vertical;
  min-height: 150px;
  font-family: "Poppins", sans-serif;
  align-content: center;
}

.contato-form button {
  background: #ff6347;
  margin: 0 auto;
  width: 20%;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s;
}

.contato-form button:hover {
  background: #ff4500;
}

.contato-form .form-group i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #bbb;
}

.contato-form .mensagem {
  display: none;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.contato-form .mensagem.sucesso {
  background: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  width: 50%;
  margin: 0 auto;
}

.contato-form .mensagem.erro {
  background: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .contato-form .form-group i {
    margin-right: 50px;
  }

  .form-group-textarea i {
    margin-right: 50px;
  }

  .contato-form {
    gap: 15px;
  }

  .contato-form input,
  .contato-form textarea,
  .contato-form select {
    padding: 10px;
  }

  .contato-form input::placeholder {
    padding-left: 35px;
  }

  .contato-form button {
    padding: 10px;
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .contato-form {
    gap: 10px;
  }

  .contato-form input,
  .contato-form textarea,
  .contato-form select {
    padding: 10px;
  }

  .contato-form button {
    padding: 10px;
    font-size: 1em;
  }
}
