/* Estilo da Seção Currículo */

.curriculo-section {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-align: left;
  animation: fadeInUp 0.7s ease-in-out;
}

.section-divider {
  border: 0;
  height: 1px;
  margin: 40px 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 122, 204, 0),
    rgba(0, 122, 204, 0.75),
    rgba(0, 122, 204, 0)
  );
}

.curriculo-section h3 {
  font-size: 1.8em;
  color: #007acc;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
}

.curriculo-section h3 i {
  margin-right: 10px;
}

.curriculo-section ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-top: 15px;
}

.curriculo-section ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #333333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 300;
}

.curriculo-section ul li strong {
  color: #007acc;
  margin-right: 5px;
}

.curriculo-section ul li i {
  margin-right: 10px;
  color: #ff6347;
}

.curriculo-section ul ul {
  padding-left: 0;
}

.curriculo-section h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 3px;
  background-color: #ff6347;
  transform: translateX(-50%);
}

.curriculo-section h3 i {
  margin-right: 10px;
}

/* Estilo de card para Experiência */
.curriculo-section ul li {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.curriculo-section ul li:hover {
  transform: translateY(-5px);
}

.curriculo-section ul li ul {
  margin-top: 10px;
}

/* Destaque das Datas */
.curriculo-section ul li strong {
  color: #007acc;
  font-weight: 700;
}

/* Bullet Points Customizados */
.curriculo-section ul li ul li {
  list-style: none;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 1em;
}

.curriculo-section ul li ul li::before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #007acc;
}

/* Certificados e Diplomas */
.educacao .certificado {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.educacao .certificado img {
  width: 50px;
  margin-right: 20px;
  border-radius: 5px;
}

/* Responsividade Básica */

@media (max-width: 992px) {
  .curriculo-section h3 {
    font-size: 1.5em;
  }

  .curriculo-section ul li {
    padding: 15px;
  }

  .curriculo-section ul li ul li {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .curriculo-section h3 {
    font-size: 1.3em;
  }

  .curriculo-section ul li {
    padding: 10px;
  }

  .curriculo-section ul li ul li {
    padding-left: 10px;
  }
}
